*,
*::after,
*::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.disabled-card {
    position: absolute;
    background: #fdfdfd;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
    opacity: 0.8;
    transition:
        opacity 1s,
        display 1s allow-discrete;
}

.showing-card {
    opacity: 0;
    display: none;
}

@starting-style {
    .showing-card {
        opacity: 0.8;
    }
}


.poke-container {
    background: url(./assets/front-left-pokedx.png) no-repeat center;
    width: 284px;
    height: 380px;
    background-size: 70% 70%;
    position: relative;
    transition: all 1.5s ease-out;
    cursor: pointer;
}

.poke-left-flip {
    background: url(./assets/back-pokedx.png) no-repeat center;
    width: 284px;
    height: 380px;
    position: absolute;
    background-size: 70% 70%;
    top: 0;
    left: 0;
    transition: all 1.5s ease-out;
    transform-origin: 62% 60%;
}

@keyframes zoom-animation {
    100% {
        background-size: 90% 90%;
    }
}

@keyframes flip-door {
    50% {
        transform: rotateY(90deg);
        transform-origin: 84% 87%;
        background-image: url('./assets/back-pokedx.png');
    }

    60% {
        background-image: url('./assets/open-back-pokedx.png');
    }

    100% {
        background: url("./assets/open-back-pokedx.png") no-repeat center;
        transform-origin: 88% 87%;
        background-size: 90% 90%;
        transform: rotateY(180deg);
        rotate: 5.5deg;

    }
}

@keyframes leave-zoom-animation {
    0% {
        background-size: 90% 90%;
    }

    100% {
        background-size: 70% 70%;
    }
}

@keyframes leave-flip-door {
    0% {
        background: url("./assets/open-back-pokedx.png") no-repeat center;
        transform-origin: 88% 87%;
        background-size: 90% 90%;
        transform: rotateY(180deg);
        rotate: 6deg;
    }

    50% {
        background-image: url('./assets/open-back-pokedx.png');
        transform: rotateY(90deg);
    }

    60% {
        background-image: url('./assets/back-pokedx.png');
    }

    100% {
        background-image: url('./assets/back-pokedx.png');
        transform-origin: 80% 60%;
        transform: rotateY(0deg);
    }
}

.open-pokedex {
    animation: zoom-animation 2.5s;
    animation-fill-mode: forwards;
}

.open-left-flip {
    animation: flip-door 2.5s;
    animation-fill-mode: forwards;
}

.close-pokedex {
    animation: leave-zoom-animation 2s;
}

.close-left-flip {
    animation: leave-flip-door 2s;
}

.title {
    text-align: center;
    padding: 1rem;
}

.poke-card {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-width: 390px;
    border-radius: 20px;
    top: 50%;
    font-size: 1.3rem;
    position: relative;
    border-radius: 5px;
    box-shadow: 5px 4px 0px 2px #dfdfdf;
    padding: 1.5rem;
    margin: 1.5rem;
    border-top: 8px solid #fee057;

    span {
        font-weight: normal;
        text-transform: capitalize;
    }

    p {
        padding: 0.5rem;
        font-weight: bold;
    }

    button {
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 12px;
        cursor: pointer;
        text-align: center;
    }

    .random-poke-btn {
        background-image: linear-gradient(45deg, #00ff67, #00bfff, #be0202, #e6bb0e, #fff900);
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        z-index: 1;
        position: relative;
        margin-bottom: 1.5rem;
        height: 3rem;
        width: 70%;
        transition: transform 0.5s;
        align-self: center;
        border: 2px dashed #fdfdfd;
    }

    .random-poke-btn::before {
        content: "";
        border-radius: 12px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(135deg, #00ff67, #00bfff, #be0202, #e6bb0e, #fff900);
        transition: opacity 0.5s linear, transform 0.5s linear;
        z-index: -1;
        opacity: 0;
        border: 1px dashed #fdfdfd;
    }

    .random-poke-btn:hover::before {
        opacity: 1;
        transform: scale(1.02);
    }

    .random-poke-btn:hover {
        transform: scale(1.02);
    }

    .find-poke-container {
        display: flex;
        border-radius: 12px;
        background-color: #fafafa;
        padding: 1rem;
    }

    .find-poke-btn {
        background: #fee057;
        color: #0f0f0f;
        height: 4rem;
        width: 50%;
        font-size: 1rem;
        font-weight: bold;
    }

    input.id-poke {
        border: 1px solid #dfdfdf;
        margin: 0.5rem;
        text-align: center;
        font-size: 1.4rem;
        width: 50%;
        border-radius: 12px;
    }

    input.id-poke::placeholder {
        color: #e0e0e0;
    }
}

.pokemon-img {
    max-width: 107px;
    max-height: 80px;
    position: absolute;
    top: calc(100% - 237px);
    left: calc(100% - 194px);
    display: none;
}

@media screen and (max-width:1000px) {
    html {
        font-size: 13px;
    }
}

@media screen and (max-width:700px) {
    .poke-card {
        margin-top: 2rem;
        min-width: 300px;
        flex-grow: 1;
        margin-inline: 2rem;
    }
}

@media screen and (max-width:460px) {
    html {
        font-size: 12px;
    }

    .id-poke::placeholder {
        font-size: 1rem;
        vertical-align: middle;
    }
}