*,
*::after,
*::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    justify-content: left;
}

.poke-container {
    background: url(./assets/front-left-pokedx.png) no-repeat center;
    width: 100vw;
    height: 100vh;
    background-size: 30% 30%;
    max-width: 384px;
    position: relative;
    transition: all 1.5s ease-out;
}

.poke-left-flip {
    background: url(./assets/back-pokedx.png) no-repeat center;
    width: 100vh;
    height: 100vh;
    position: absolute;
    background-size: 30% 30%;
    top: 0;
    left: 0;
    max-width: 384px;
    transition: all 1.5s ease-out;
    transform-origin: 62% 60%;
}

@keyframes zoom-animation {
    100% {
        background-size: 50% 50%;
    }
}

@keyframes flip-door {
    50% {
        transform: rotateY(90deg);
        transform-origin: 65% 82%;
        background-image: url('./assets/back-pokedx.png');
    }

    60% {
        background-image: url('./assets/open-back-pokedx.png');
    }

    100% {
        background: url("/assets/open-back-pokedx.png") no-repeat center;
        transform-origin: 71% 82%;
        background-size: 50% 50%;
        transform: rotateY(180deg);
        rotate: 3deg;
    }
}

@keyframes leave-zoom-animation {
    0% {
        background-size: 50% 50%;
    }

    100% {
        background-size: 30% 30%;
    }
}

@keyframes leave-flip-door {
    0% {
        background: url("/assets/open-back-pokedx.png") no-repeat center;
        transform-origin: 71% 82%;
        background-size: 50% 50%;
        transform: rotateY(180deg);
        rotate: 3deg;
    }
    50% {
        background-image: url('./assets/open-back-pokedx.png');
        transform: rotateY(90deg);
    }

    60% {
        background-image: url('./assets/back-pokedx.png');
    }

    100% {
        background-image: url('./assets/back-pokedx.png');
        transform: rotateY(0deg);
    }
}

.open-pokedex {
    animation: zoom-animation 2s;
    animation-fill-mode: forwards;
}

.open-left-flip {
    animation: flip-door 2s;
    animation-fill-mode: forwards;
}

.close-pokedex {
    animation: leave-zoom-animation 2s;
}

.close-left-flip {
    animation: leave-flip-door 2s;
}